<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VVVF_Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VVVF_Simulator.Properties.Settings>
            <setting name="RealTime_VVVF_BuffSize" serializeAs="String">
                <value>40000</value>
            </setting>
            <setting name="RealTime_VVVF_WaveForm_Show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTime_VVVF_EditAllow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_BuffSize" serializeAs="String">
                <value>40000</value>
            </setting>
            <setting name="RealTime_Train_EditAllow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_WaveForm_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Control_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Control_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Control_Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_Style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RealTime_VVVF_Hexagon_ZeroVector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTime_Train_Hexagon_ZeroVector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealTime_VVVF_FFT_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_FFT_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_Control_Precise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_Control_Precise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_VVVF_FS_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_FS_Show" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RealTime_Train_SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RealTime_VVVF_SoundVolume" serializeAs="String">
                <value>1</value>
            </setting>
        </VVVF_Simulator.Properties.Settings>
    </userSettings>
</configuration>